body {
    width: 100%;
    max-width: 100%;
}

/* header */
header {
    display: flex;
    justify-content: space-between;
    width: 1080px;
    max-width: 100%;
    margin: 0 auto;
    height: 80px;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: aliceblue;
    /* padding-top: 5px; */
    border-bottom: 2px solid orange;
}

h1 {
    font-size: 30px;
    font-weight: bold;
    color: orange;
}

#nav-li ul {
    display: flex;
    width: 300px;
    max-width: 100%;
    justify-content: space-between;
}

#nav-li ul li {
    padding-top: 5px;
}

/* #nav-li ul li:hover{
    border-bottom: 3px solid orange
} */

#nav-li li a {
    /*線の基点とするためrelativeを指定*/
    position: relative;
}

#nav-li a,
#nav-li li a:hover {
    color: orange;
}

#nav-li li a::after {
    content: '';
    /*絶対配置で線の位置を決める*/
    position: absolute;
    bottom: 0;
    left: 10%;
    /*線の形状*/
    width: 80%;
    height: 2px;
    background: orange;
    /*アニメーションの指定*/
    transition: all .3s;
    transform: scale(0, 1);
    /*X方向0、Y方向1*/
    transform-origin: left top;
    /*左上基点*/
}

/*現在地とhoverの設定*/
#nav-li li a:hover::after {
    transform: scale(1, 1);
    /*X方向にスケール拡大*/
}