/* main */
main {
    width: 1080px;
    max-width: 100%;
    margin: 0 auto;
    display: flex;
}

h2 {
    width: 200px;
    max-width: 100%;
    font-size: 25px;
    color: white;
    background-color: orange;
    height: 50px;
    padding: 10px 40px;
    border: 2px solid orange;
    /* border-radius: 10px; */
}

.movie-nav {
    background-color: aliceblue;
}

.movie-nav nav ul li {
    margin-top: 20px;
    border: 2px solid black;
    border-radius: 10px;
    padding: 5px 0;
    text-align: center;
    background-color: white;
}

.movie-nav nav ul li:hover {
    color: white;
    background-color: orange;
    border: orange 2px solid;
}

.movie ul {
    width: 880px;
    max-width: 100%;
    display: flex;
    justify-content: space-around;
    text-align: center;
}

.movie ul li a img {
    width: 250px;
    max-width: 100%;
    border-radius: 20px;
    margin-top: 30px;
}

.movie ul li a img:hover {
    opacity: 0.7;
}

/* カレンダー */
#calendar {
    display: flex;
    flex-wrap: wrap;
}

section {
    margin: 10px;
}

h1 {
    font-size: 18px;
}

table {
    border-spacing: 0;
    border-collapse: collapse;
}

td {
    border: 1px solid #ddd;
    padding: 5px;
    text-align: center;
}

td:first-child {
    color: red;
}

td:last-child {
    color: royalblue;
}

td.is-disabled {
    color: #ccc;
}